In [76]:
import pandas as pd
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.feature_extraction.text import CountVectorizer
import joblib

In [77]:
movies=pd.read_csv('IMDb_All_Genres_etf_clean1.csv')

In [78]:
movies.head()

,Movie_Title,Year,Director,Actors,Rating,Runtime(Mins),Censor,Total_Gross,main_genre,side_genre
0,Kantara,2022,Rishab Shetty,"Rishab Shetty, Sapthami Gowda, Kishore Kumar G...",9.3,148,UA,Gross Unkown,Action,"Adventure, Drama"
1,The Dark Knight,2008,Christopher Nolan,"Christian Bale, Heath Ledger, Aaron Eckhart, M...",9.0,152,UA,$534.86M,Action,"Crime, Drama"
2,The Lord of the Rings: The Return of the King,2003,Peter Jackson,"Elijah Wood, Viggo Mortensen, Ian McKellen, Or...",9.0,201,U,$377.85M,Action,"Adventure, Drama"
3,Inception,2010,Christopher Nolan,"Leonardo DiCaprio, Joseph Gordon-Levitt, Ellio...",8.8,148,UA,$292.58M,Action,"Adventure, Sci-Fi"
4,The Lord of the Rings: The Two Towers,2002,Peter Jackson,"Elijah Wood, Ian McKellen, Viggo Mortensen, Or...",8.8,179,UA,$342.55M,Action,"Adventure, Drama"

In [79]:
movies.describe()

              Year       Rating  Runtime(Mins)
count  5562.000000  5562.000000    5562.000000
mean   2002.792521     6.755861     112.226717
std      16.143990     0.937133      21.612655
min    1920.000000     1.000000      45.000000
25%    1997.000000     6.200000      97.000000
50%    2007.000000     6.800000     108.000000
75%    2014.000000     7.400000     123.000000
max    2022.000000     9.300000     321.000000

In [80]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5562 entries, 0 to 5561
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Movie_Title    5562 non-null   object
 1   Year           5562 non-null   int64
 2   Director       5562 non-null   object
 3   Actors         5562 non-null   object
 4   Rating         5562 non-null   float64
 5   Runtime(Mins)  5562 non-null   int64
 6   Censor         5562 non-null   object
 7   Total_Gross    5562 non-null   object
 8   main_genre     5562 non-null   object
 9   side_genre     5562 non-null   object
dtypes: float64(1), int64(2), object(7)
memory usage: 434.7+ KB

In [81]:
movies.isnull().sum()

Movie_Title      0
Year             0
Director         0
Actors           0
Rating           0
Runtime(Mins)    0
Censor           0
Total_Gross      0
main_genre       0
side_genre       0
dtype: int64

In [82]:
movies=movies[['Movie_Title','Director','Actors','main_genre','side_genre']]

In [83]:
movies.head()

,Movie_Title,Director,Actors,main_genre,side_genre
0,Kantara,Rishab Shetty,"Rishab Shetty, Sapthami Gowda, Kishore Kumar G...",Action,"Adventure, Drama"
1,The Dark Knight,Christopher Nolan,"Christian Bale, Heath Ledger, Aaron Eckhart, M...",Action,"Crime, Drama"
2,The Lord of the Rings: The Return of the King,Peter Jackson,"Elijah Wood, Viggo Mortensen, Ian McKellen, Or...",Action,"Adventure, Drama"
3,Inception,Christopher Nolan,"Leonardo DiCaprio, Joseph Gordon-Levitt, Ellio...",Action,"Adventure, Sci-Fi"
4,The Lord of the Rings: The Two Towers,Peter Jackson,"Elijah Wood, Ian McKellen, Viggo Mortensen, Or...",Action,"Adventure, Drama"

In [84]:
movies['tags'] = movies['Director'] + ', ' + movies['Actors'] + ', ' + movies['main_genre'] + ', ' + movies['side_genre']

In [85]:
movies.head()

,Movie_Title,Director,Actors,main_genre,side_genre,tags
0,Kantara,Rishab Shetty,"Rishab Shetty, Sapthami Gowda, Kishore Kumar G...",Action,"Adventure, Drama","Rishab Shetty, Rishab Shetty, Sapthami Gowda, ..."
1,The Dark Knight,Christopher Nolan,"Christian Bale, Heath Ledger, Aaron Eckhart, M...",Action,"Crime, Drama","Christopher Nolan, Christian Bale, Heath Ledge..."
2,The Lord of the Rings: The Return of the King,Peter Jackson,"Elijah Wood, Viggo Mortensen, Ian McKellen, Or...",Action,"Adventure, Drama","Peter Jackson, Elijah Wood, Viggo Mortensen, I..."
3,Inception,Christopher Nolan,"Leonardo DiCaprio, Joseph Gordon-Levitt, Ellio...",Action,"Adventure, Sci-Fi","Christopher Nolan, Leonardo DiCaprio, Joseph G..."
4,The Lord of the Rings: The Two Towers,Peter Jackson,"Elijah Wood, Ian McKellen, Viggo Mortensen, Or...",Action,"Adventure, Drama","Peter Jackson, Elijah Wood, Ian McKellen, Vigg..."

In [87]:
movies.drop(['side_genre'],axis=1, inplace=True)

In [50]:
# movies.drop(['Director','Actors','main_genre', 'side_genre'], axis=1, inplace=True)

In [88]:
movies.head()

,Movie_Title,Director,Actors,main_genre,tags
0,Kantara,Rishab Shetty,"Rishab Shetty, Sapthami Gowda, Kishore Kumar G...",Action,"Rishab Shetty, Rishab Shetty, Sapthami Gowda, ..."
1,The Dark Knight,Christopher Nolan,"Christian Bale, Heath Ledger, Aaron Eckhart, M...",Action,"Christopher Nolan, Christian Bale, Heath Ledge..."
2,The Lord of the Rings: The Return of the King,Peter Jackson,"Elijah Wood, Viggo Mortensen, Ian McKellen, Or...",Action,"Peter Jackson, Elijah Wood, Viggo Mortensen, I..."
3,Inception,Christopher Nolan,"Leonardo DiCaprio, Joseph Gordon-Levitt, Ellio...",Action,"Christopher Nolan, Leonardo DiCaprio, Joseph G..."
4,The Lord of the Rings: The Two Towers,Peter Jackson,"Elijah Wood, Ian McKellen, Viggo Mortensen, Or...",Action,"Peter Jackson, Elijah Wood, Ian McKellen, Vigg..."

In [89]:
movies['tags'].head()

0    Rishab Shetty, Rishab Shetty, Sapthami Gowda, ...
1    Christopher Nolan, Christian Bale, Heath Ledge...
2    Peter Jackson, Elijah Wood, Viggo Mortensen, I...
3    Christopher Nolan, Leonardo DiCaprio, Joseph G...
4    Peter Jackson, Elijah Wood, Ian McKellen, Vigg...
Name: tags, dtype: object

In [90]:
cv=CountVectorizer(max_features=10000,stop_words='english')

In [91]:
cv

CountVectorizer(max_features=10000, stop_words='english')

In [92]:
vector=cv.fit_transform(movies['tags']).toarray()

In [93]:
vector

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]])

In [94]:
vector.shape

(5562, 10000)

In [95]:
similarity=cosine_similarity(vector)

In [96]:
similarity

array([[1.        , 0.13453456, 0.20180184, ..., 0.        , 0.        ,
        0.        ],
       [0.13453456, 1.        , 0.15384615, ..., 0.        , 0.        ,
        0.        ],
       [0.20180184, 0.15384615, 1.        , ..., 0.        , 0.        ,
        0.        ],
       ...,
       [0.        , 0.        , 0.        , ..., 1.        , 0.07412493,
        0.18490007],
       [0.        , 0.        , 0.        , ..., 0.07412493, 1.        ,
        0.17817416],
       [0.        , 0.        , 0.        , ..., 0.18490007, 0.17817416,
        1.        ]])

In [97]:
movies[movies['main_genre']=='Drama'].index[0]

2188

In [98]:
distance=sorted(list(enumerate(similarity[1])),reverse=True,key=lambda vector:vector[1])

In [99]:
for i in distance[0:5]:
    print(movies.iloc[i[0]].Movie_Title)

The Dark Knight
Batman Begins
The Prestige
The Dark Knight Rises
Public Enemies

In [108]:
def recommendation(film):
    index=movies[movies['main_genre']==film].index[0]
    distance=sorted(list(enumerate(similarity[index])),reverse=True,key=lambda vector:vector[1])
    for i in distance[1:10]:
        print(movies.iloc[i[0]].Movie_Title)

In [109]:
# def recommendation_director(Director):
#     index=movies[movies['Director']==Director].index[0]
#     distance=sorted(list(enumerate(similarity[index])),reverse=True,key=lambda vector:vector[1])
#     for i in distance[1:10]:
#         print(movies.iloc[i[0]].Movie_Title)

In [110]:
recommendation('Drama')

Once Upon a Time... in Hollywood
Ray
What's Eating Gilbert Grape
Marvin's Room
Fences
Dreamgirls
The Revenant
The Aviator
The Basketball Diaries

In [103]:
# recommendation_director('Christopher Nolan')

In [104]:
joblib.dump(movies,'movie_list1.joblib')

['movie_list1.joblib']

In [105]:
joblib.dump(similarity,'similarity1.joblib')

['similarity1.joblib']

In [106]:
joblib.load('movie_list1.joblib')

,Movie_Title,Director,Actors,main_genre,tags
0,Kantara,Rishab Shetty,"Rishab Shetty, Sapthami Gowda, Kishore Kumar G...",Action,"Rishab Shetty, Rishab Shetty, Sapthami Gowda, ..."
1,The Dark Knight,Christopher Nolan,"Christian Bale, Heath Ledger, Aaron Eckhart, M...",Action,"Christopher Nolan, Christian Bale, Heath Ledge..."
2,The Lord of the Rings: The Return of the King,Peter Jackson,"Elijah Wood, Viggo Mortensen, Ian McKellen, Or...",Action,"Peter Jackson, Elijah Wood, Viggo Mortensen, I..."
3,Inception,Christopher Nolan,"Leonardo DiCaprio, Joseph Gordon-Levitt, Ellio...",Action,"Christopher Nolan, Leonardo DiCaprio, Joseph G..."
4,The Lord of the Rings: The Two Towers,Peter Jackson,"Elijah Wood, Ian McKellen, Viggo Mortensen, Or...",Action,"Peter Jackson, Elijah Wood, Ian McKellen, Vigg..."
...,...,...,...,...,...
5557,Disaster Movie,"Directors:Jason Friedberg, Aaron Seltzer","Carmen Electra, Vanessa Lachey, Nicole Parker,...",Comedy,"Directors:Jason Friedberg, Aaron Seltzer, Carm..."
5558,The Hottie & the Nottie,Tom Putnam,"Paris Hilton, Joel David Moore, Christine Laki...",Comedy,"Tom Putnam, Paris Hilton, Joel David Moore, Ch..."
5559,From Justin to Kelly,Robert Iscove,"Kelly Clarkson, Justin Guarini, Katherine Bail...",Comedy,"Robert Iscove, Kelly Clarkson, Justin Guarini,..."
5560,Superbabies: Baby Geniuses 2,Bob Clark,"Jon Voight, Scott Baio, Vanessa Angel, Skyler ...",Comedy,"Bob Clark, Jon Voight, Scott Baio, Vanessa Ang..."
5561,Cumali Ceber: Allah Seni Alsin,Gökhan Gök,"Halil Söyletmez, Doga Konakoglu, Emre Keskin, ...",Comedy,"Gökhan Gök, Halil Söyletmez, Doga Konakoglu, E..."

In [107]:
joblib.load('similarity1.joblib')

array([[1.        , 0.13453456, 0.20180184, ..., 0.        , 0.        ,
        0.        ],
       [0.13453456, 1.        , 0.15384615, ..., 0.        , 0.        ,
        0.        ],
       [0.20180184, 0.15384615, 1.        , ..., 0.        , 0.        ,
        0.        ],
       ...,
       [0.        , 0.        , 0.        , ..., 1.        , 0.07412493,
        0.18490007],
       [0.        , 0.        , 0.        , ..., 0.07412493, 1.        ,
        0.17817416],
       [0.        , 0.        , 0.        , ..., 0.18490007, 0.17817416,
        1.        ]])

In [240]:
movies.shape

(5562, 2)